[submodule "tests/test_data/parquet-testing"]
	path = tests/test_data/parquet-testing
	url = https://github.com/apache/parquet-testing
[submodule "seastar"]
	path = seastar
	url = https://github.com/stdbio/seastar.git